// @import "../../dist/minified/normalize.css";
/* css reset begin*/

* {
  margin: 0;
  padding: 0;
}

a {
  border: 0 none;
  &:hover, &:link, &:visited {
    border: 0 none;
  }
}

li {
  list-style: none;
}

/* css reset end */

/* header 箭头icon begin*/

.arrow-icon {
  width: 8px;
  height: 8px;
  border-top: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  list-style: none;
  display: inline-block;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform-origin: 4px 4px;
  /*大概是宽高的一半*/
}

/* header arrowicon end */

input::-ms-clear {
  display: none;
}

/* header element reset */

#header {
  img, ul, nav, div, span, a, i, h3 {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
  }
  padding: 0px;
  margin: 0px;
  height: 60px;
  border-bottom: 1px solid #ececec;
  background: #fff;
  .year-vip, .ty-vip, .rz-vip, .month-vip, .xf-vip {
    background: url("http://e.jikexueyuan.com/headerandfooter/images/allvipicon.png");
    background-size: 306px 16px;
    display: inline-block;
    width: 45px;
    height: 14px;
  }
  .rzno-vip {
    background: url("http://e.jikexueyuan.com/headerandfooter/images/allvipicon.png");
    background-size: 306px 16px;
    display: inline-block;
    width: 45px;
    height: 14px;
    background-position: -191px -1px;
  }
  .year-vip {
    background-position: -143px -1px;
  }
  .w-1000 {
    height: 60px;
    line-height: 60px;
  }
  .logo {
    width: 109px;
    display: inline-block;
    margin-right: 60px;
    height: 60px;
    float: left;
    img {
      float: left;
      width: 109px;
      margin-top: 10px;
      border: 0 none;
    }
  }
  nav {
    height: 60px;
    display: inline-block;
    float: left;
    a {
      color: #333;
      &:hover {
        color: #35b558;
      }
    }
    li {
      position: relative;
      font-size: 14px;
      display: inline-block;
      float: left;
      margin-right: 50px;
      cursor: pointer;
      height: 60px;
      i {
        margin-left: 5px;
        &.arrow-up-icon {
          margin-bottom: -3px;
        }
        &.arrow-icon {
          margin-bottom: 2px;
        }
      }
      &:hover {
        color: #35b558;
        cursor: pointer;
        i.arrow-icon {
          margin-bottom: -2px;
          border-top: 1px solid #35b558;
          border-left: 1px solid #35b558;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          animation: rotate 1s ease normal;
          -moz-animation: rotate 1s ease normal;
          -webkit-animation: rotate 1s ease normal;
        }
        .submenu {
          display: block;
          opacity: 1;
          animation: myfirst 0.8s ease normal;
          -moz-animation: myfirst 0.8s ease normal;
          -webkit-animation: myfirst 0.8s ease normal;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .submenu {
      display: none;
      opacity: 0;
      position: absolute;
      z-index: 1000;
      top: 60px;
      left: 0;
      background: #fff;
      font-size: 12px;
      color: #666;
      width: 280px;
      h3 {
        margin: 10px 0;
        padding: 0 15px;
        background: #fafafa;
        height: 28px;
        line-height: 28px;
        font-weight: 300;
      }
      a {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }
    .vip-lesson {
      padding: 10px 0;
      a {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #666;
        span {
          color: #bbb;
          float: right;
        }
        &:hover {
          display: block;
          height: 40px;
          line-height: 40px;
          background: #fafafa;
          color: #35b558;
        }
      }
    }
  }
  .icon-box {
    float: right;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    height: 60px;
    span {
      height: 60px;
      width: 17px;
      display: inline-block;
      margin-left: 25px;
      cursor: pointer;
    }
    .app-icon {
      background: url("http://e.jikexueyuan.com/headerandfooter/images/app-icon.png") 0 0 no-repeat;
      background-size: 17px;
      background-position: 0;
      &:hover {
        background: url("http://e.jikexueyuan.com/headerandfooter/images/app-icon2.png") 0 0 no-repeat;
        background-size: 17px;
        background-position: 0;
      }
      .submenu {
        padding: 0;
        right: -50px;
        img {
          width: 100%;
        }
        .top-icon {
          right: 50px;
        }
      }
    }
    .login-icon {
      background: url("http://e.jikexueyuan.com/headerandfooter/images/login-icon.png") 0 0 no-repeat;
      background-size: 17px;
      background-position: 0;
    }
    .logged {
      height: 60px !important;
      width: 25px !important;
      position: relative;
      .top-icon {
        margin-right: 5px !important;
      }
      img {
        width: 25px;
        height: 25px;
        margin-top: 13px;
        display: block;
        border-radius: 50%;
        border: 1px solid #ddd;
        overflow: hidden;
      }
    }
  }
  .relative {
    position: relative;
  }
}

/* header */

/* 给header上用到的图设置雪碧图 */

/*#header .rzno-vip {
	margin-right: 10px;
	display: inline-block;
	width: 45px;
	height: 14px;
	background: url("http://e.jikexueyuan.com/headerandfooter/images/rz-no.png");
	background-size: 45px 14px;
}*/

/* 无认证图 */

/* 年vip图 */

/* 极客学院logo */

@keyframes rotate {
  0% {
    margin-bottom: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
  }

  10% {
    margin-bottom: -2px;
  }

  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}


@keyframes myfirst {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-moz-keyframes myfirst
/* Firefox */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes myfirst
/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-o-keyframes myfirst
/* Opera */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#web_search_header {
  border: none;
  outline: none;
}

#header {
  .search-icon {
    background: url("http://e.jikexueyuan.com/headerandfooter/images/search-icon.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
    &:hover {
      background: url("http://e.jikexueyuan.com/headerandfooter/images/search-icon2.png") 0 0 no-repeat;
      background-size: 17px 17px;
      background-position: 0, 0;
    }
  }
  .w-1000 {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
  }
  .loginlist dd i {
    background: url("../img/allicon2.png") 0 0 no-repeat;
    background-size: 64px 64px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
  }
}

#uservip-icon {
  background: url("../img/allicon2.png") 0 0 no-repeat;
  background-size: 64px 64px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
  background: url("../img/allicon2.png") 0 0 no-repeat;
  background-size: 64px 64px;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 15px;
}

/* 雪碧图展示logo */

#header {
  .rz-icon {
    background-position: -1px -47px;
  }
  .year-icon {
    background-position: -1px -32px;
  }
  .month-icon {
    background-position: -1px -16px;
  }
  .ty-icon {
    background-position: -1px -1px;
  }
  .xf-icon {
    background-position: -16px -47px;
  }
  .loginlist {
    .xxzx-icon {
      background-position: -16px -15px;
    }
    .grzy-icon {
      background-position: -45px -1px;
    }
    .xxtz-icon {
      background-position: -16px -30px;
    }
    .zhsz-icon {
      background-position: -30px -1px;
    }
    .tc-icon {
      background-position: -16px -1px;
    }
  }
}

.vip-lesson i, .school-list i {
  background: url("../img/allicon.png") 0 0 no-repeat;
  background-size: 64px 64px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px !important;
}

.vip-lesson .kck-icon, .school-list .kck-icon {
  background-position: 0 -13px;
}

.vip-lesson {
  .zyljt-icon {
    background-position: -45px 0;
  }
  .zstxt-icon {
    background-position: -30px -12px;
  }
  .xlkc-icon {
    background: url("http://e.jikexueyuan.com/headerandfooter/images/xlkc2.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 12px 12px;
  }
}

.school-list .xlkc-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/xlkc2.png") 0 0 no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
}

.vip-lesson .kcbq-icon, .school-list .kcbq-icon {
  background-position: -15px -13px;
}

.vip-lesson .vip-icon, .school-list .vip-icon {
  background-position: -16px 0;
}

.vip-lesson .jswd-icon, .school-list .jswd-icon {
  background-position: 0 -27px;
}

.vip-lesson .wiki-icon, .school-list .wiki-icon {
  background-position: -29px -27px;
}

.vip-lesson .sq-icon, .school-list .sq-icon {
  background-position: 0 2px;
}

.vip-lesson .zygx-icon, .school-list .zygx-icon {
  background-position: -30px 0;
}

.vip-lesson .web-icon, .school-list .web-icon {
  background-position: -15px -27px;
}

.vip-lesson .android-icon {
  background-position: -45px -14px;
}

.school-list {
  .android-icon {
    background-position: -45px -14px;
  }
  i {
    &.python-icon, &.go-icon, &.php-icon, &.java-icon, &.ios-icon, &.android-icon {
      background: url("http://e.jikexueyuan.com/headerandfooter/images/allicon3.png") 0 0 no-repeat;
      background-position: 0 0;
      background-size: 16px 148px;
    }
    &.python-icon {
      background-position: -2px -2px;
    }
    &.go-icon {
      background-position: -2px -38px;
    }
    &.php-icon {
      background-position: -2px -21px;
    }
    &.java-icon {
      background-position: -2px -104px;
    }
    &.ios-icon {
      background-position: -2px -82px;
    }
    &.android-icon {
      background-position: -2px -58px;
    }
  }
}

.loginlist {
  &:hover .submenu {
    display: block;
    opacity: 1;
    animation: listshow 0.8s ease normal;
    -moz-animation: listshow 0.8s ease normal;
    -webkit-animation: listshow 0.8s ease normal;
  }
  .submenu {
    display: none;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    width: 120px;
    position: absolute;
    z-index: 1200;
    top: 58px;
    right: -10px;
    .top-icon {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      display: block;
      position: absolute;
      top: -8px;
      right: 10px;
      width: 15px;
      height: 15px;
      border-top: 1px solid #ececec;
      border-left: 1px solid #ececec;
      display: inline-block;
      background: #fff;
    }
    dd {
      text-align: left;
      font-size: 12px;
      line-height: 35px;
      vertical-align: middle;
      margin: 0;
      padding-left: 10px;
    }
  }
}

@keyframes listshow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-moz-keyframes listshow
/* Firefox */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes listshow
/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-o-keyframes listshow
/* Opera */ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.unread-num {
  padding-left: 10px;
}

.loginlist .submenu dd {
  a {
    &.year-vip {
      margin: 0 auto;
    }
    color: #666;
    height: 35px;
    line-height: 35px;
    display: block;
  }
  &:hover {
    background: #f5f5f5;
  }
  a:hover {
    background: #f5f5f5;
    color: #35b558;
  }
}

#header {
  .searchbox {
    display: none;
    transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    opacity: 0;
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 11000;
    top: 0;
    right: 0;
    .close-icon {
      width: 15px;
      height: 15px;
      margin-top: 22px;
      cursor: pointer;
      background: url(http://e.jikexueyuan.com/headerandfooter/images/close-icon.png) 0 0 no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: 0;
      z-index: 1200;
    }
  }
  .search-icon {
    background: url(http://e.jikexueyuan.com/headerandfooter/images/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
  }
  .searchbox {
    input {
      width: 400px;
      height: 40px;
      line-height: 40px;
      margin-top: 10px;
      font-size: 12px;
      vertical-align: top;
      margin-left: 10px;
    }
    .tagbox {
      width: 300px;
      text-align: right;
      display: inline;
      margin-right: 50px;
      float: right;
      a {
        font-size: 12px;
        color: #808080;
        background: #f5f5f5;
        padding: 3px 5px;
        margin-left: 10px;
      }
    }
  }
}

.scale {
  transform-origin: right center;
  -moz-transform-origin: right center;
  display: block !important;
  transform: scale(1, 1) !important;
  opacity: 1 !important;
  animation: scalerun 0.8s ease normal;
  -moz-animation: scalerun 2s line normal;
  -webkit-animation: scalerun 0.8s ease normal;
}

@keyframes scalerun {
  0% {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


@-moz-keyframes scalerun
/* Firefox */ {
  0% {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


@-webkit-keyframes scalerun
/* Safari and Chrome */ {
  0% {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


@-o-keyframes scalerun
/* Opera */ {
  0% {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
