* {
    margin: 0;
    padding: 0;
}
.test {
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 10px;
}
p {
    width: 100px;
    height: 100px;
    background-color: red;
    cursor: pointer;
}
.txt{
    color: white;
}
