@charset "UTF-8";
body {
  /* 设定文本不能被选择 */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -o-user-select: none;
  background: #f5f5f5;
}

/* jkBanner begin */
.jkBanner {
  box-sizing: border-box;
  height: 525px;
  position: relative;
  text-align: center;
  min-width: 1000px;
}
.jkBanner .videoContainer {
  display: inline-block;
  width: 100%;
  height: 525px;
  overflow: hidden;
  position: relative;
}
.jkBanner .videoContainer .index_video {
  position: relative;
  left: 50%;
  margin-left: -960px;
}
.jkBanner .videoContainer .video_mask {
  display: block;
  height: 525px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.jkBanner .bannerInfo {
  display: block;
  width: 100%;
  height: 525px;
  position: absolute;
  top: 0;
  left: 0;
}
.jkBanner .bannerInfo > h1 {
  font-size: 35px;
  color: #fff;
  margin-top: 45px;
  margin-bottom: 20px;
  height: 45px;
}
.jkBanner .bannerInfo > p {
  font-size: 13px;
  color: #fff;
  line-height: 21px;
  height: 21px;
}
.jkBanner .bannerInfo > span {
  margin-top: 45px;
  font-size: 12px;
  color: #fafafa;
  display: block;
  height: 18px;
}
.jkBanner .bannerDownload {
  height: 44px;
  margin-top: 48px;
}
.jkBanner .bannerDownload > a {
  display: inline-block;
  height: 44px;
  width: 141px;
}
.jkBanner .bannerDownload .androidDownload {
  background: url("../img/anddown_92313c1.png") no-repeat center/141px 44px;
  margin-right: 20px;
  transition: background .1s;
  -moz-transition: background .1s;
  -webkit-transition: background .1s;
  -o-transition: background .1s;
}
.jkBanner .bannerDownload .androidDownload:hover {
  background: url("../img/anddownhover_6bed6d5.png") no-repeat center/141px 44px;
}
.jkBanner .bannerDownload .iosDownload {
  background: url("../img/iosdown_0813309.png") no-repeat center/141px 44px;
  transition: background .1s;
  -moz-transition: background .1s;
  -webkit-transition: background .1s;
  -o-transition: background 0.1s;
}
.jkBanner .bannerDownload .iosDownload:hover {
  background: url("../img/iosdownhover_43e4f99.png") no-repeat center/141px 44px;
}
.jkBanner .bannerStatus {
  margin-top: 15px;
  height: 38px;
}
.jkBanner .bannerStatus > a {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.jkBanner .bannerStatus .haveLogin {
  display: inline-block;
  width: 120px;
  height: 38px;
  background: url("../img/havelogin_1d29673.png") no-repeat center/120px 30px;
  transition: background .1s;
  -moz-transition: background .1s;
  -webkit-transition: background .1s;
  -o-transition: background 0.1s;
}
.jkBanner .bannerStatus .haveLogin:hover {
  background: url("../img/haveloginhover_e5aa155.png") no-repeat center/120px 30px;
}
.jkBanner .bannerCard {
  height: 240px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 36px;
}
.jkBanner .bannerCard > div {
  float: left;
  width: 320px;
  height: 240px;
  background: #fff;
  margin-right: 20px;
}
.jkBanner .bannerCard > div:last-child {
  margin-right: 0;
}
.jkBanner .bannerCard > div .cardInfo {
  height: 130px;
  background: #f9f9f9;
}
.jkBanner .bannerCard > div .cardInfo > span {
  font-size: 18px;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #333;
}
.jkBanner .bannerCard > div .cardInfo > p {
  border-top: 1px solid #eee;
  height: 80px;
  padding: 10px 17px;
  font-size: 13px;
  text-align: left;
  color: #444;
  line-height: 21px;
  overflow: hidden;
}
.jkBanner .bannerCard > div .collegeClass {
  padding: 17px 10px;
  height: 110px;
}
.jkBanner .bannerCard > div .collegeClass ul {
  height: 100%;
}
.jkBanner .bannerCard > div .collegeClass ul li {
  float: left;
  height: 100%;
  width: 25%;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.jkBanner .bannerCard > div .collegeClass ul li:hover span {
  color: #35b558;
}
.jkBanner .bannerCard > div .collegeClass ul li:hover .webCard {
  border: 1px solid #dc4d10;
}
.jkBanner .bannerCard > div .collegeClass ul li:hover .goCard {
  border: 1px solid #6ad7e5;
}
.jkBanner .bannerCard > div .collegeClass ul li:hover .iosCard {
  border: 1px solid #666;
}
.jkBanner .bannerCard > div .collegeClass ul li:hover .pythonCard {
  border: 1px solid #f9d423;
}
.jkBanner .bannerCard > div .collegeClass ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.jkBanner .bannerCard > div .collegeClass ul li div {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
  transition: border .5s;
  -moz-transition: border .5s;
  -webkit-transition: border .5s;
  -o-transition: border 0.5s;
}
.jkBanner .bannerCard > div .collegeClass ul li span {
  display: block;
  margin-top: 7px;
  color: #666;
  transition: color .5s;
  -moz-transition: color .5s;
  -webkit-transition: color .5s;
  -o-transition: color 0.5s;
}
.jkBanner .bannerCard > div .collegeClass ul li .webCard {
  background: url("../img/cardhtml5_c4de6b8.jpg") no-repeat center/26px 35px;
}
.jkBanner .bannerCard > div .collegeClass ul li .goCard {
  background: url("../img/cardgo_f7d5603.png") no-repeat center/25px 35px;
}
.jkBanner .bannerCard > div .collegeClass ul li .iosCard {
  background: url("../img/cardios_1b210b7.jpg") no-repeat center/30px 35px;
}
.jkBanner .bannerCard > div .collegeClass ul li .pythonCard {
  background: url("../img/cardpython_46dafa5.png") no-repeat center/35px 35px;
}
.jkBanner .bannerCard > div .libraryClass {
  padding: 17px 10px;
  height: 110px;
  background: #ffffff;
}
.jkBanner .bannerCard > div .libraryClass li {
  float: left;
  height: 100%;
  width: 50%;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.jkBanner .bannerCard > div .libraryClass li a {
  display: block;
  width: 100%;
  height: 100%;
}
.jkBanner .bannerCard > div .libraryClass li div {
  display: inline-block;
  width: 100%;
  height: 57px;
  font-size: 13px;
  color: #444;
  padding-top: 35px;
}
.jkBanner .bannerCard > div .libraryClass li span {
  display: block;
  color: #666;
}
.jkBanner .bannerCard > div .libraryClass li .videoCard {
  background: url("../img/cardvideo_744765b.jpg") no-repeat top center/29px 29px;
}
.jkBanner .bannerCard > div .libraryClass li .wikiCard {
  background: url("../img/cardwiki_5eaea4b.jpg") no-repeat top center/25px 26px;
}
.jkBanner .bannerCard > div .libraryClass li:hover .videoCard {
  background: url("../img/cardvideohover_a616ae2.png") no-repeat top center/29px 29px;
  color: #35b558;
  transition: background .1s;
  -moz-transition: background .1s;
  -webkit-transition: background .1s;
  -o-transition: background 0.1s;
}
.jkBanner .bannerCard > div .libraryClass li:hover .wikiCard {
  background: url("../img/cardwikihover_6974141.png") no-repeat top center/25px 26px;
  color: #35b558;
  transition: background .1s;
  -moz-transition: background .1s;
  -webkit-transition: background .1s;
  -o-transition: background 0.1s;
}
.jkBanner .bannerCard > div .communityClass {
  padding: 17px 10px;
  height: 110px;
}
.jkBanner .bannerCard > div .communityClass li {
  float: left;
  height: 100%;
  width: 33.33%;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.jkBanner .bannerCard > div .communityClass li div {
  display: inline-block;
  width: 100%;
  height: 57px;
  font-size: 13px;
  color: #444;
  padding-top: 35px;
}
.jkBanner .bannerCard > div .communityClass li span {
  display: block;
  color: #666;
}
.jkBanner .bannerCard > div .communityClass li .xueCard {
  background: url("../img/cardxue_99b0a45.jpg") no-repeat top center/33px 28px;
}
.jkBanner .bannerCard > div .communityClass li .jiaoCard {
  background: url("../img/cardjiao_d70bff6.jpg") no-repeat top center/36px 27px;
}
.jkBanner .bannerCard > div .communityClass li .buCard {
  background: url("../img/cardbu_1d16287.jpg") no-repeat top center/22px 30px;
}

/* jkBanner 遮罩层 */
/* 选中职业学院，那些标题 */
/* .h2Container */
section .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 330px;
  background: #fff;
}
section .h2Container h2 {
  font-size: 19px;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  border-left: 2px solid #35b558;
}
section .h2Container .h2text {
  font-size: 14px;
  color: #333;
  padding-left: 17px;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
}
section .h2Container .h2img {
  text-align: center;
  height: 155px;
}
section .h2Container .h2img img {
  margin-top: 38px;
  width: 120px;
  height: 88px;
}
section .h2Container > span {
  margin-left: 17px;
  margin-bottom: 5px;
  display: block;
  width: 62px;
  height: 18px;
  font-size: 12px;
  border: 1px solid #eee;
  line-height: 16px;
  border-radius: 2px;
  color: gray;
  vertical-align: middle;
  overflow: hidden;
}
section .h2Container > span:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #35b558 url(../img/h2icon_a96e146.png) no-repeat center/15px 14px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 4px;
}
section .h2Container > p {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  padding-left: 17px;
}
section > ul > li:nth-child(n+2):hover {
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px #ccc;
  transition: box-shadow .5s;
  -moz-transition: box-shadow .5s;
  -webkit-transition: box-shadow .5s;
  -o-transition: box-shadow 0.5s;
}

/* jkjiuye begin */
.jkjiuye {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 140px;
  height: 330px;
  position: relative;
}
.jkjiuye ul {
  height: 100%;
  width: 100%;
}
.jkjiuye ul .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 330px;
  background: #fff;
  margin-left: 0;
}
.jkjiuye ul .h2Container > span:before {
  background: #35b558 url(../img/h2icon_a96e146.png) no-repeat center/15px 14px;
}
.jkjiuye ul > li {
  float: left;
  margin-left: 14px;
  background: #fff;
}
.jkjiuye ul > li img {
  width: 100%;
  height: 100%;
}
.jkjiuye ul > li a {
  display: block;
  height: 100%;
}
.jkjiuye ul > li:last-child, .jkjiuye ul > li:nth-child(3) {
  margin-right: 0;
}
.jkjiuye ul > li:nth-child(2), .jkjiuye ul > li:nth-child(3) {
  width: 371px;
  height: 180px;
  margin-bottom: 14px;
}
.jkjiuye ul > li:nth-child(4), .jkjiuye ul > li:nth-child(5), .jkjiuye ul > li:nth-child(6) {
  width: 243px;
  height: 135px;
}
.jkjiuye ul > li:last-child {
  width: 242px;
}

/* jikejiuye end */
/* jkbase begin */
.jkbase {
  box-sizing: border-box;
  width: 1000px;
  height: 330px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}
.jkbase ul {
  height: 100%;
  width: 100%;
}
.jkbase ul .h2Container {
  padding-top: 10px;
  width: 229px;
  height: 330px;
  background: #fff;
  /*margin-right: 14px;*/
}
.jkbase ul .h2Container h2 {
  border-left: 2px solid #2d85ca;
}
.jkbase ul .h2Container > span:before {
  background: #2d85ca url(../img/h2icon_a96e146.png) no-repeat center/15px 14px;
}
.jkbase ul .h2Container .h2img img {
  margin-top: 50px;
  width: 115px;
  height: 80px;
}
.jkbase ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 243px;
  height: 158px;
}
.jkbase ul > li img {
  width: 100%;
  height: 100%;
}
.jkbase ul > li a {
  display: block;
  height: 100%;
}
.jkbase ul > li:last-child, .jkbase ul > li:nth-child(4) {
  margin-right: 0;
}
.jkbase ul > li:nth-child(2), .jkbase ul > li:nth-child(3), .jkbase ul > li:nth-child(4) {
  margin-bottom: 14px;
}

.jkBase ul > li:nth-child(4), .jkBase ul > li:last-child {
  width: 242px;
}

/* jkbase end */
/* jkSku begin */
.jkSku {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  height: 330px;
  position: relative;
}
.jkSku ul {
  height: 100%;
  width: 100%;
}
.jkSku ul .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 330px;
  background: #fff;
}
.jkSku ul .h2Container h2 {
  border-left: 2px solid #ff5c00;
}
.jkSku ul .h2Container > span:before {
  background: #ff5c00 url(../img/h2icon_a96e146.png) no-repeat center/15px 14px;
}
.jkSku ul .h2Container .h2img img {
  margin-top: 30px;
  width: 103px;
  height: 94px;
}
.jkSku ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 371px;
  height: 158px;
}
.jkSku ul > li img {
  width: 100%;
  height: 100%;
}
.jkSku ul > li a {
  display: block;
  height: 100%;
}
.jkSku ul > li:last-child, .jkSku ul > li:nth-child(3) {
  margin-right: 0;
}
.jkSku ul > li:nth-child(2), .jkSku ul > li:nth-child(3) {
  margin-bottom: 14px;
}

/* jkSku end */
/* jkDk begin */
.jkDk {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  height: 158px;
  position: relative;
}
.jkDk ul {
  height: 100%;
  width: 100%;
}
.jkDk ul .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 158px;
  background: #fff;
}
.jkDk ul .h2Container h2 {
  border-left: 2px solid #ad3a37;
}
.jkDk ul .h2Container .h2img {
  height: 88px;
}
.jkDk ul .h2Container .h2img img {
  margin-top: 17px;
  width: 105px;
  height: 72px;
}
.jkDk ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 371px;
  height: 158px;
}
.jkDk ul > li img {
  width: 100%;
  height: 100%;
}
.jkDk ul > li a {
  display: block;
  height: 100%;
}
.jkDk ul > li:last-child {
  margin-right: 0;
}

/* jkDk end */
/* jkBai begin */
.jkBai {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  height: 158px;
  position: relative;
}
.jkBai ul {
  height: 100%;
  width: 100%;
}
.jkBai ul .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 158px;
  background: #fff;
  text-align: left;
}
.jkBai ul .h2Container h2 {
  border-left: 2px solid #35b558;
}
.jkBai ul .h2Container .h2img {
  height: 88px;
}
.jkBai ul .h2Container .h2img img {
  margin-top: 17px;
  width: 95px;
  height: 72px;
}
.jkBai ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 243px;
  height: 158px;
  text-align: center;
}
.jkBai ul > li a {
  display: block;
  height: 100%;
}
.jkBai ul > li .baiImg {
  display: block;
  height: 55px;
  margin-top: 30px;
}
.jkBai ul > li span {
  display: block;
  font-size: 18px;
  color: #333;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
}
.jkBai ul > li p {
  font-size: 12px;
  color: #666;
  height: 16px;
  line-height: 16px;
  margin-top: 5px;
}
.jkBai ul > li:nth-child(2) img {
  width: 41px;
  height: 55px;
}
.jkBai ul > li:nth-child(3) img {
  width: 55px;
  height: 48px;
}
.jkBai ul > li:last-child {
  margin-right: 0;
  width: 242px;
}
.jkBai ul > li:last-child img {
  width: 55px;
  height: 55px;
}
.jkBai ul > li:last-child:hover {
  boedr: 1px solid #fff;
  box-shadow: none;
}

/* jkBai end */
/* jkStudent begin */
.jkStudent {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  height: 500px;
  position: relative;
}
.jkStudent > ul {
  height: 100%;
  width: 100%;
}
.jkStudent > ul .h2Container {
  text-align: left;
  padding-top: 10px;
  width: 230px;
  height: 500px;
  background: #fff;
}
.jkStudent > ul .h2Container > ul {
  padding-left: 15px;
  padding-top: 10px;
  width: 100%;
}
.jkStudent > ul .h2Container > ul > li {
  float: left;
  width: 56px;
  height: 56px;
  background: #ccc;
  margin-right: 14px;
}
.jkStudent > ul .h2Container > ul > li:nth-child(3n) {
  margin-right: 0;
}
.jkStudent > ul .h2Container > ul > li:nth-child(n+4) {
  margin-top: 14px;
}
.jkStudent > ul .h2Container > ul > li a {
  display: block;
  height: 100%;
}
.jkStudent > ul .h2Container > ul > li a img {
  width: 100%;
  height: 100%;
}
.jkStudent > ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 243px;
  height: 243px;
  text-align: center;
  padding-top: 30px;
}
.jkStudent > ul > li a {
  display: block;
  height: 100%;
}
.jkStudent > ul > li .s_pic {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #eee;
}
.jkStudent > ul > li .s_name {
  display: block;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}
.jkStudent > ul > li .s_job {
  font-size: 12px;
  color: gray;
  height: 16px;
  line-height: 16px;
  margin-top: 10px;
}
.jkStudent > ul > li .s_status {
  font-size: 12px;
  color: gray;
  height: 16px;
  margin-top: 35px;
}
.jkStudent > ul > li .s_comp {
  margin-top: 5px;
  height: 20px;
}
.jkStudent > ul > li:nth-child(n+5) {
  margin-top: 14px;
}
.jkStudent > ul > li:nth-child(4), .jkStudent > ul > li:last-child {
  width: 242px;
  margin-right: 0;
}

/* jkOrganization begin */
.jkOrganization {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  height: 158px;
  position: relative;
}
.jkOrganization ul {
  height: 100%;
  width: 100%;
}
.jkOrganization ul .h2Container {
  padding-top: 10px;
  width: 230px;
  height: 158px;
  background: #fff;
  text-align: left;
}
.jkOrganization ul .h2Container h2 {
  border-left: 2px solid #ad3a37;
}
.jkOrganization ul > li {
  float: left;
  margin-right: 14px;
  background: #fff;
  width: 243px;
  height: 158px;
  text-align: center;
}
.jkOrganization ul > li a {
  display: block;
  height: 100%;
}
.jkOrganization ul > li .baiImg {
  display: block;
  height: 55px;
  margin-top: 30px;
}
.jkOrganization ul > li span {
  display: block;
  font-size: 18px;
  color: #333;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 500;
}
.jkOrganization ul > li p {
  font-size: 12px;
  color: #666;
  height: 16px;
  line-height: 16px;
  margin-top: 5px;
}
.jkOrganization ul > li:nth-child(2) img, .jkOrganization ul > li:nth-child(3) img {
  width: 55px;
  height: 48px;
}
.jkOrganization ul > li:last-child {
  margin-right: 0;
  width: 242px;
}
.jkOrganization ul > li:last-child img {
  width: 55px;
  height: 48px;
}
