@charset "utf-8";
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}
a, dd, div, dl, i, img, input, li, p, span, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box
}
button, h1, h2, h3, h4, h5, h6, input, select, textarea {
    font-size: 100%;
    font-weight: 400
}
input.input-one {
    font-size: 100%;
    font-weight: 400
}
body {
    background: #f5f5f5
}
address, cite, dfn, em, i, var {
    font-style: normal
}
code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}
small {
    font-size: 12px
}
ol, ul {
    list-style: none
}
a {
    text-decoration: none
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
legend {
    color: #000
}
fieldset, img {
    border: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.f_l {
    float: left
}
.f_r {
    float: right
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0
}
.none {
    display: none!important
}
iframe {
    vertical-align: top
}
s {
    text-decoration: none
}
button {
    border: 0 none
}
article, aside, figcaption, figure, footer, header, hgroup, nav, section, video {
    display: block
}
input {
    outline: 0;
    border: 0
}
.cf {
    zoom: 1
}
.cf:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden
}
.relative {
    position: relative
}
.absolute {
    position: absolute
}
img, input, label, select {
    vertical-align: middle
}

.b {
    font-weight: 700
}
.fw_no {
    font-weight: 400
}
.text_under {
    text-decoration: underline
}
.curs {
    cursor: pointer
}
.w-1000 {
    width: 1000px;
    margin: 0 auto;
    clear: both
}
.mar-t50 {
    margin-top: 50px!important
}
