html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body div {
    border: 1px solid red;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background: transparent;
}
a:active, a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
/*上标文本*/
sup {
    top: -0.5em;
}
/*下标文本*/
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
body {
    font-family: 'NotoSansHans-Thin', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
}

/*样式重置没问题*/


/*css about hero>content>logo*/
.hero {
    height: 870px;
    /*稍后去掉*/
    /*background: gray;*/
    /*background: url("../images/hero.jpg") #393c4b no-repeat center center;*/
}

/*media query screen是媒体类型*/

@media screen and (max-width: 320px) {
    .hero {
        height: 568px;
    }
}
@media screen and (max-width: 375px) {
    .hero {
        height: 667px;
    }
}

/*当宽度小于*/

@media screen and (max-width: 1024px) {
    .header {
        visibility: none;
        /*display:none 这个属性控制当宽度过小的时候，隐藏header*/
        display: none;
    }
}
.header .content {
    height: 94px;
    overflow: hidden;
    /*background: red;*/
}

/*当设备宽度在 1024px 和 768px 之间时 触发这套布局设置*/

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header .content {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .header .content {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }
}

/* :before :after 在content前和后插入内容*/

.header .content:before, .header .content:after {
    content: " ";
    display: table;
}
.header .content:after {
    clear: both;
}
.header .content h1.logo {
    width: 121px;
    height: 94px;
    /*下面这一句把用来标记的keep h1移走*/
    text-indent: -9999px;
    background: url("../images/logo.png") transparent no-repeat center center;
    margin: 0;
    float: left;
}
.header .nav {
    float: right;
}
.header .nav .active {
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
}
.header .nav ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header .nav ul li {
    display: inline-block;
    line-height: 94px;
    font-size: 18px;
    margin-left: 45px;
}
.header .nav ul li a {
    text-decoration: none;
    /*color: #7a7c79;*/
    color: #fff;
}

/*下面这段貌似没有起到什么作用*/

.colorize {
    background-color: #584f60;
    color: #fff;
}
.indexHero {
    background: url("../images/hero3.jpg") #393c4b no-repeat center center;
    /*background-size:100% 100%;*/
    /*filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')"; */
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}

/*作用有待考究*/

@media screen and (max-width: 375px) {
    .indexHero {
        background: url("../images/mobile-hero.jpg") #393c4b no-repeat top left;
        background-size: 400px;
    }
}
.indexHero .slogan {
    position: absolute;
    top: 190px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .indexHero .slogan {
        top: 80px;
        padding: 14px;
    }
}
.word {
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 1.6;
}
.indexHero .slogan .slogan-title {
    font-size: 80px;
    margin-bottom: 26px;
    line-height: 1.4;
}
.indexHero .slogan .slogan-title .en {
    font-size: 68px;
}

/*当屏幕最大为768px时用这套样式*/

@media screen and (max-width: 768px) {
    /*hero 的字体改变，slogantitle 字体改变*/
    .indexHero .slogan .slogan-title {
        font-size: 40px;
        line-height: 1.6;
    }
    /*en内的字体改变大小*/
    .indexHero .slogan .slogan-title .en {
        font-size: 30px;
    }
    /*intro 的字体大小*/
}
.indexHero .slogan .intro {
    font-size: 20px;
    line-height: 1.8;
}

/*当屏幕最大为768px时，用下面这套布局，这里是关于 intro的改变*/

@media screen and (max-width: 768px) {
    .indexHero .slogan .intro {
        line-height: 1.4;
    }
}


/* TODO: 得改显示下载的那部分，.left那里 */

.left {
    float: left;
}
.left .dl img {
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .left {
        float: none;
    }
}
.zero {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
.purple {
    color: #584f60;
}

/*关于几个download png 的样式*/

.download:before, .download:after {
    content: " ";
    display: table;
}
.download:after {
    clear: both;
}
@media screen and (max-width: 768px) {
    .download {
        width: 100%;
        text-align: center;
    }
}
.download .dl {
    margin: 0;
}
.download .dl a {
    display: block;
    height: 50px;
    margin-bottom: 12px;
}
/**/
@media screen and (max-width: 768px) {
    .download .dl {
        float: none;
    }
}

.download .qr-code {
    margin-left: 30px;
    float: left;
}

.download .qr-code img {
    width: 112px;
    height: 112px;
}

/*container的媒体查询*/
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
        /*height: auto;*/
        /* 就是少了这一句，slogan那段往右偏了 */
        margin: 0 auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
/*关于hero的一套*/

/*no-mobile*/
@media screen and (max-width: 768px) {
    .no-mobile {
        display: none !important;
        visibility: none !important;
    }
}

/*no-desktop这部分内容不在desktop版本中显示*/
@media screen and (min-width: 769px) {
    .no-desktop {
        display: none;
        visibility: none;
    }
}

/*feature list 部分*/
/*先是desktop版本的*/
.feature-list {
    margin-top: 160px;
    margin-bottom: 200px;
}
.feature-list .feature {
    /*background-color: rgba(200, 0, 0, 0.3);*/
    margin-bottom: 80px;
    border: 1px solid transparent;
}
.feature-list .feature .feature-content {
    color: #929292;
    position: relative;
    height: 654px;
}

/*大屏模式下*/
@media screen and (min-width: 1024px) {
    .feature-list .feature .feature-content {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .feature-list .feature .feature-content {
        width: 100%;
    }
}

.feature-list .feature.feature-1 {
    background: url("../images/feature-bg1.png") transparent no-repeat center center;;
}
.feature-list .feature.feature-2 {
    background: url("../images/feature-bg2.png") transparent no-repeat center center;;
}
.feature-list .feature.feature-3 {
    background: url("../images/feature-bg3.png") transparent no-repeat center center;;
}

.feature-list .feature-wording {
    position: absolute;
    top: 190px;
    width: 270px;
}

.feature-list .feature-wording.right {
    right: 0
}

.feature-list .feature-wording.left {
    left: 0;
}

.feature-list .feature-wording .feature-title {
    font-size: 30px;
    line-height: 1.4;
    color: #584f60;
}

.feature-list .feature-wording .feature-desc {
    font-size: 20px;
    line-height: 1.7;
}
/* mobile-feature */
.mobile-feature {
    max-width: 500px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid transparent;
    color: #929292;
}

.mobile-feature .feature {
    margin-top: 100px;
}

.mobile-feature .feature-title {
    font-size: 18px;
    color: #584f60;
}

.mobile-feature img {
    display: block;
    margin: 30px auto;
    max-width: 300px;
}

/*有关那个缩略图的*/
.mobile-screenshot {
    width: 70%;
    max-width: 320px;
}
/* mobile-feature */


/*footer*/
footer {
    margin-top: 268px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    background: #584f60;
    color: #fff;
    text-align: center;
}
@media screen and (max-width: 768px) {
    footer {
        margin-top: 20px;
        padding: 0;
    }
}

footer .links {
    font-size: 12px;
    /*display:block就是将元素显示为块级元素.

　　block元素的特点是：
　　总是在新行上开始；
　　高度，行高以及顶和底边距都可控制；
　　宽度缺省是它的容器的100%，除非设定一个宽度
　　<div>, <p>, <h1>, <form>, <ul> 和 <li>是块元素的例子。

　　display:inline就是将元素显示为行内元素.

　　inline元素的特点是：
　　和其他元素都在一行上；
　　高，行高及顶和底边距不可改变；
　　宽度就是它的文字或图片的宽度，不可改变。
　　<span>, <a>, <label>, <input>, <img>, <strong> 和<em>是inline元素的例子。

　　inline和block可以控制一个元素的行宽高等特性，需要切换的情况如下：

　　让一个inline元素从新行开始；
　　让块元素和其他元素保持在一行上；
　　控制inline元素的宽度（对导航条特别有用）；
　　控制inline元素的高度；
　　无须设定宽度即可为一个块元素设定与文字同宽的背景色。

　　display:inline-block将对象呈递为内联对象，但是对象的内容作为块对象呈递。旁边的内联对象会被呈递在同一行内，允许空格。

    */
    display: inline-block;
}

footer .links ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    footer .links ul {
        display: block;
    }
}

footer .links ul li {
    float: left;
    border-right: 1px solid #fff;
    margin-right: -1px;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    footer .links ul li {
        display: block;
        float: none;
        padding: 20px;
    }
}


@media screen and (max-width: 414px) {
    footer .links ul li {
        border-right: 0px solid transparent;
    }
}

footer .links ul li a {
    text-decoration: none;
    color: #fff;
}


footer .social {
    display: inline-block;
    font-size: 21px;
}

footer .social a {
    color: #ccc;
    text-decoration: none;
    display: inline-block;
}

footer .social a:visited {
    color: #ccc;
}
footer .social a:hover {
    color: #fff;
}


@media screen and (max-width: 768px) {
    footer .social {
        display: block;
    }
}

footer .social i {
    padding: 0 6px;
}

footer .copyright {
    margin: 10px 0;
}

/*关于微信的一个tool tip 如何实现的，鼠标移动到a标签出，则显示微信二维码*/
.arrow_box_down {
    position: relative;
    background: #fff;
}

/*弄了一个小小的三角形*/
.arrow_box_down:after{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '\0020';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 14px;
    margin-left: -14px;
}
.wechat-link-wrapper {
    position: relative;
}

.wechat-link-wrapper .qr-code {
    position: absolute;
    top: -173px;
    left: -58px;
    border: 1px solid #584f60;
}

.wechat-link-wrapper:hover .hide {
    display: block;
}

.wechat-link-wrapper .hide {
    display: none;
}
