<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/forget.css">
	<title>Index</title>
</head>
<body>
	<div class="container">
		<div class="display forget-con">
			<a href="/login">乖乖点我回去登录页好好仔细想想😓</a>
		</div>
	</div>
</body>
</html>