@font-face {
	font-family: MarketDecoRegular;
	src: url(marketdeco/marketdeco-webfont.eot?#iefix) format("embedded-opentype"), url(marketdeco/marketdeco-webfont.woff) format("woff"), url(marketdeco/marketdeco-webfont.ttf) format("truetype"), url(marketdeco/marketdeco-webfont.svg#MarketDecoRegular) format("svg");
	font-weight: normal;
	font-style: normal;
}
#access .menu ul li {
	
}
#access .menu ul li a {
	
}
#access .menu ul li ul li a {
	padding-top: 12px;
}
@media not all, not all
{
#access .menu ul li {
	height: 33px; padding-top: 9px;
}
}
