html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
:focus {
	outline: 0px;
}
body {
	background: rgb(255, 255, 255); line-height: 1;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
table {
	border-collapse: separate; border-spacing: 0;
}
caption {
	text-align: left; font-weight: normal;
}
th {
	text-align: left; font-weight: normal;
}
td {
	text-align: left; font-weight: normal;
}
blockquote::before {
	content: "";
}
blockquote::after {
	content: "";
}
q::before {
	content: "";
}
q::after {
	content: "";
}
blockquote {
	quotes: "" "";
}
q {
	quotes: "" "";
}
a img {
	border: 0px currentColor; border-image: none;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
input {
	border-radius: 0px; -webkit-appearance: none; -webkit-border-radius: 0;
}
textarea {
	border-radius: 0px; -webkit-appearance: none; -webkit-border-radius: 0;
}
.clear {
	width: 0px; height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden;
}
.sticky {
	
}
.gallery-caption {
	
}
.wp-caption {
	
}
.wp-caption-text {
	
}
body {
	padding: 0px 40px;
}
body {
	background: url("style/images/bg1.jpg") fixed rgb(46, 46, 46); font: 15px/27px "MerriweatherRegular", serif; color: rgb(107, 107, 107); font-size-adjust: none; font-stretch: normal; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;
}
input {
	background: url("style/images/bg1.jpg") fixed rgb(46, 46, 46); font: 15px/27px "MerriweatherRegular", serif; color: rgb(107, 107, 107); font-size-adjust: none; font-stretch: normal; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;
}
textarea {
	background: url("style/images/bg1.jpg") fixed rgb(46, 46, 46); font: 15px/27px "MerriweatherRegular", serif; color: rgb(107, 107, 107); font-size-adjust: none; font-stretch: normal; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;
}
h1 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h2 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h3 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h4 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h5 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h6 {
	color: rgb(202, 109, 109); font-family: "MarketDecoRegular"; font-weight: normal;
}
h1 a {
	color: inherit;
}
h2 a {
	color: inherit;
}
h3 a {
	color: inherit;
}
h4 a {
	color: inherit;
}
h5 a {
	color: inherit;
}
h6 a {
	color: inherit;
}
h1 {
	line-height: 34px; font-size: 32px; margin-bottom: 14px;
}
h2 {
	line-height: 30px; font-size: 28px; margin-bottom: 10px;
}
h3 {
	line-height: 26px; font-size: 24px; margin-bottom: 15px;
}
h4 {
	line-height: 22px; font-size: 20px; margin-bottom: 4px;
}
h5 {
	line-height: 19px; font-size: 17px;
}
h6 {
	line-height: 14px; font-size: 12px;
}
hr {
	background: url("style/images/line.png") repeat-x left bottom; border: 0px currentColor; border-image: none; height: 1px; margin-top: 20px; margin-bottom: 40px;
}
p {
	margin-bottom: 20px;
}
ul {
	margin: 0px 0px 20px; list-style-position: inside;
}
ol {
	margin: 0px 0px 20px; list-style-position: inside;
}
ul {
	list-style: none;
}
ul li {
	background: url("style/images/dark-bullet.png") no-repeat left 13px; padding-left: 15px;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul {
	margin-bottom: 0px;
}
ol ol {
	margin-bottom: 0px;
}
ul ol {
	margin-bottom: 0px;
}
ol ul {
	margin-bottom: 0px;
}
strong {
	font-weight: bold;
}
cite {
	font-style: italic;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
blockquote {
	margin: 0px 0px 20px; padding-left: 20px; font-size: 15px; border-left-color: rgb(237, 237, 237); border-left-width: 5px; border-left-style: solid;
}
pre {
	background: rgb(244, 244, 244); font: 13px/1.5 "Courier 10 Pitch", Courier, monospace; padding: 0.75em 20px; overflow: auto; margin-bottom: 40px; font-size-adjust: none; font-stretch: normal;
}
code {
	font: 13px/normal Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size-adjust: none; font-stretch: normal;
}
kbd {
	font: 13px/normal Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size-adjust: none; font-stretch: normal;
}
abbr {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
dfn {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
address {
	margin: 0px 0px 40px; display: block;
}
ins {
	background: rgb(255, 249, 192); text-decoration: none;
}
sup {
	height: 0px; line-height: 1; font-size: 10px; vertical-align: baseline; position: relative;
}
sub {
	height: 0px; line-height: 1; font-size: 10px; vertical-align: baseline; position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: 0.5ex;
}
.dropcap {
	margin: 15px 8px 0px 0px; padding: 0px; text-transform: uppercase; font-family: "MarketDecoRegular"; font-size: 45px; float: left; display: block;
}
.lite1 {
	color: rgb(202, 109, 109); border-bottom-color: rgb(202, 109, 109); border-bottom-width: 1px; border-bottom-style: dotted;
}
.lite2 {
	border-bottom-color: rgb(202, 109, 109); border-bottom-width: 1px; border-bottom-style: dotted;
}
.download-box {
	margin: 0px 0px 20px; padding: 15px; line-height: 17px; clear: both; text-shadow: none;
}
.warning-box {
	margin: 0px 0px 20px; padding: 15px; line-height: 17px; clear: both; text-shadow: none;
}
.info-box {
	margin: 0px 0px 20px; padding: 15px; line-height: 17px; clear: both; text-shadow: none;
}
.note-box {
	margin: 0px 0px 20px; padding: 15px; line-height: 17px; clear: both; text-shadow: none;
}
.info-box {
	background: rgb(194, 221, 249); border: 1px solid rgb(128, 187, 239); border-image: none; color: rgb(71, 131, 183);
}
.warning-box {
	background: rgb(255, 204, 204); border: 1px solid rgb(255, 153, 153); border-image: none; color: rgb(195, 27, 0);
}
.download-box {
	background: rgb(209, 247, 182); border: 1px solid rgb(139, 202, 97); border-image: none; color: rgb(94, 149, 55);
}
.note-box {
	background: rgb(253, 235, 174); border: 1px solid rgb(230, 197, 85); border-image: none;
}
a {
	color: rgb(202, 109, 109); text-decoration: none; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;
}
a:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
a.button {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); padding: 0px 17px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; display: inline-block; cursor: pointer; -webkit-border-radius: 5px; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -moz-border-radius: 5px;
}
input#submit {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); padding: 0px 17px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; display: inline-block; cursor: pointer; -webkit-border-radius: 5px; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -moz-border-radius: 5px;
}
.forms fieldset .btn-submit {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); padding: 0px 17px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; display: inline-block; cursor: pointer; -webkit-border-radius: 5px; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -moz-border-radius: 5px;
}
input#submit {
	height: 30px; padding-bottom: 5px; font-size: 12px;
}
.alignleft {
	margin-right: 20px; float: left; display: inline;
}
.alignright {
	margin-left: 20px; float: right; display: inline;
}
.aligncenter {
	clear: both; margin-right: auto; margin-left: auto; display: block;
}
img {
	height: auto; max-width: 100%;
}
.full.map {
	margin: 0px -40px;
}
.map iframe {
	max-width: 100%;
}
.map {
	margin-bottom: 20px;
}
.media {
	margin-bottom: 20px;
}
img.alignleft {
	margin-bottom: 20px;
}
img.alignright {
	margin-bottom: 20px;
}
img.aligncenter {
	margin-bottom: 20px;
}
.intro {
	background: url("style/images/line.png") repeat-x bottom; text-align: center; color: rgb(160, 160, 160); line-height: 32px; padding-bottom: 40px; font-family: "MerriweatherRegular"; font-size: 20px; margin-top: -9px; margin-bottom: 40px;
}
.one-half {
	width: 48%;
}
.one-third {
	width: 30.66%;
}
.two-third {
	width: 65.33%;
}
.one-fourth {
	width: 22%;
}
.three-fourth {
	width: 74%;
}
.one-fifth {
	width: 16.8%;
}
.two-fifth {
	width: 37.6%;
}
.three-fifth {
	width: 58.4%;
}
.four-fifth {
	width: 67.2%;
}
.one-sixth {
	width: 13.33%;
}
.five-sixth {
	width: 82.67%;
}
.one-half {
	margin-right: 4%; float: left; position: relative;
}
.one-third {
	margin-right: 4%; float: left; position: relative;
}
.two-third {
	margin-right: 4%; float: left; position: relative;
}
.three-fourth {
	margin-right: 4%; float: left; position: relative;
}
.one-fourth {
	margin-right: 4%; float: left; position: relative;
}
.one-fifth {
	margin-right: 4%; float: left; position: relative;
}
.two-fifth {
	margin-right: 4%; float: left; position: relative;
}
.three-fifth {
	margin-right: 4%; float: left; position: relative;
}
.four-fifth {
	margin-right: 4%; float: left; position: relative;
}
.one-sixth {
	margin-right: 4%; float: left; position: relative;
}
.five-sixth {
	margin-right: 4%; float: left; position: relative;
}
.last {
	clear: right; margin-right: 0px !important;
}
#branding #site-title {
	margin: 0px 39px 39px;
}
#primary {
	width: 100%;
}
#page {
	margin: 50px auto; max-width: 1040px; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
#wrapper {
	background: rgb(255, 255, 255); border: 1px solid rgb(248, 248, 248); border-image: none; box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.15); -webkit-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.15);
}
#content {
	margin: 0px 39px; width: auto;
}
#main {
	padding: 8px 0px 0px; clear: both;
}
#branding {
	position: relative; z-index: 9999;
}
#site-title {
	padding: 39px 0px 0px;
}
#site-title a {
	color: rgb(202, 109, 109); line-height: 36px; font-size: 30px; text-decoration: none;
}
#site-title a img {
	vertical-align: bottom;
}
#site-title a:hover {
	color: rgb(88, 88, 88);
}
#branding .header-image {
	margin: 0px -1px -1px;
}
#branding .header-image img {
	width: 100%; height: auto; display: block;
}
.social {
	top: 51px; right: 39px; position: absolute; min-width: 500px;
}
.social ul {
	list-style: none; float: right;
}
.social ul li {
	background: none; padding: 0px; margin-right: 5px; float: left;
}
.social ul li img {
	display: block;
}
form#searchform {
	width: 300px;
}
.no-results form#searchform {
	padding: 10px 0px 0px;
}
form#searchform::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
input#searchsubmit {
	background: url("style/images/icon-search.png") no-repeat center rgb(64, 64, 64); border: currentColor; border-image: none; width: 25px; height: 25px; text-indent: -99999px; float: right; cursor: pointer;
}
input#s {
	border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(163, 163, 163) currentColor rgb(163, 163, 163) rgb(163, 163, 163); padding: 0px 5px 2px; border-image: none; width: 264px; height: 21px; color: rgb(160, 160, 160); font-family: "MerriweatherRegular"; font-size: 12px; float: left; display: block; background-color: transparent;
}
.social .widget_search .search-text-box {
	border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(163, 163, 163) currentColor rgb(163, 163, 163) rgb(163, 163, 163); padding: 0px 5px 2px !important; border-image: none; width: 45px; height: 21px; color: rgb(160, 160, 160); font-family: "MerriweatherRegular"; font-size: 12px; float: right; background-color: transparent; -moz-transition: 400ms width ease; -webkit-transition-duration: 400ms; -webkit-transition-property: width; -webkit-transition-timing-function: ease; -o-transition-duration: 400ms; -o-transition-property: width; -o-transition-timing-function: ease;
}
.social input.search-submit-button {
	background: url("style/images/icon-search.png") no-repeat center rgb(64, 64, 64); border: currentColor; border-image: none; width: 25px; height: 25px; text-indent: -99999px; float: right; cursor: pointer;
}
.social .widget_search .search-text-box:focus {
	width: 150px;
}
.triangle-l {
	border-width: 8px; border-style: solid; border-color: transparent rgb(121, 62, 62) transparent transparent; left: -17px; top: -8px; width: 0px; height: 0px; position: relative; z-index: -1;
}
.triangle-r {
	border-width: 8px; border-style: solid; border-color: transparent transparent transparent rgb(121, 62, 62); left: 1039px; top: -23px; width: 0px; height: 0px; position: relative; z-index: -1;
}
#access .menu {
	list-style: none; font-family: "MarketDecoRegular"; font-weight: normal; position: relative;
}
#access .menu ul {
	background: url("style/images/menu-bg.png") repeat-x rgb(176, 90, 90); margin: 0px -9px; height: 42px; text-align: center; letter-spacing: normal; list-style-type: none; position: relative; z-index: 1001; box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
#access .menu ul li {
	background: none; padding: 8px 15px 0px; height: 34px; display: inline-block; position: relative; z-index: 101;
}
#access .menu ul li a {
	color: rgb(243, 243, 243); line-height: 1; font-size: 14px; text-decoration: none; display: inline-block; -webkit-transition: all 100ms ease-in; -o-transition: all 100ms ease-in; -moz-transition: all 100ms ease-in;
}
#access .menu ul li a:hover {
	color: rgb(60, 60, 60);
}
#access .menu ul li.active a {
	color: rgb(60, 60, 60);
}
#access .menu ul li a.selected {
	color: rgb(60, 60, 60);
}
#access .menu ul li ul {
	background: none; padding: 0px; left: 0px; width: 130px; height: auto; text-align: left; display: none; visibility: hidden; position: absolute; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#access .menu ul li ul li {
	background: none; padding: 0px; height: auto; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid; float: none; display: list-item;
}
#access .menu ul li ul li ul {
	top: 0px;
}
#access .menu ul li ul li a {
	margin: 0px; padding: 10px; border: currentColor; border-image: none; color: rgb(243, 243, 243); font-size: 12px; display: block; background-color: rgb(60, 60, 60);
}
#access .menu ul li ul li a:hover {
	color: rgb(243, 243, 243); background-color: rgb(51, 51, 51);
}
#access .menu ul li ul li.active a {
	color: rgb(243, 243, 243); background-color: rgb(51, 51, 51);
}
#access .menu ul li ul li a.selected {
	color: rgb(243, 243, 243); background-color: rgb(51, 51, 51);
}
#access .menu ul li ul li:last-child {
	border: currentColor; border-image: none;
}
* html #access .menu {
	height: 1%;
}
.selectnav {
	margin: 0px auto; width: 280px; display: none;
}
.hentry {
	background: url("style/images/line.png") repeat-x bottom; padding-bottom: 20px; margin-bottom: 40px; position: relative;
}
.hentry footer.entry-meta {
	display: none;
}
.no-results {
	margin-bottom: 40px;
}
.page-title {
	margin: 0px 0px 30px; text-align: center;
}
.entry-header {
	text-align: center;
}
.entry-title {
	margin: 0px 0px 5px; color: rgb(202, 109, 109); font-size: 28px;
}
.entry-title {
	color: rgb(202, 109, 109); font-family: ¿¬Ìå; text-decoration: none;
}
.entry-title a {
	color: rgb(202, 109, 109); font-family: ¿¬Ìå; text-decoration: none;
}
.entry-title a:hover {
	color: rgb(88, 88, 88);
}
.entry-title span.featured-format {
	background: url("style/images/icon-featured.png") no-repeat center; width: 7px; height: 20px; text-indent: -9999px; margin-top: -10px; margin-right: 10px; display: inline-block;
}
.entry-meta {
	color: rgb(160, 160, 160); line-height: 18px; clear: both; font-size: 12px; margin-bottom: 26px;
}
.entry-meta a {
	color: rgb(160, 160, 160);
}
.entry-meta a:hover {
	color: rgb(202, 109, 109); text-decoration: none;
}
.entry-meta .sep {
	padding: 0px 5px;
}
footer.entry-meta .tags a::before {
	display: inline-block; content: "#";
}
.entry-meta .comments-link {
	display: inline;
}
.entry-meta span.edit {
	display: inline;
}
.entry-meta .standard-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .image-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .quote-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .link-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .chat-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .audio-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .gallery-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .video-format {
	background: url("style/images/icon-article.png") no-repeat center; width: 11px; line-height: 1; text-indent: -99999px; display: inline-block;
}
.entry-meta .image-format {
	background-position: bottom; width: 14px; background-image: url("style/images/icon-image.png");
}
.entry-meta .quote-format {
	background-position: bottom; width: 12px; background-image: url("style/images/icon-quote.png");
}
.entry-meta .link-format {
	background-position: bottom; width: 12px; background-image: url("style/images/icon-link.png");
}
.entry-meta .chat-format {
	background-position: bottom; width: 11px; background-image: url("style/images/icon-chat.png");
}
.entry-meta .audio-format {
	background-position: bottom; width: 9px; background-image: url("style/images/icon-audio.png");
}
.entry-meta .gallery-format {
	background-position: bottom; width: 16px; background-image: url("style/images/icon-gallery.png");
}
.entry-meta .video-format {
	background-position: bottom; width: 11px; background-image: url("style/images/icon-video.png");
}
.entry-header .entry-format {
	display: inline;
}
.single-author .entry-meta .by-author {
	display: none;
}
.post .sharing-wrapper {
	margin: 0px 0px 20px; position: relative;
}
.post .sharing-wrapper .share-facebook {
	padding-right: 20px;
}
.format-link .entry-title span.arrow {
	padding-left: 5px; font-family: Arial, sans-serif;
}
.format-link .entry-content {
	padding: 0px;
}
.format-quote blockquote {
	margin: 0px 0px 20px; padding-left: 20px; font-size: 15px; border-left-color: rgb(237, 237, 237); border-left-width: 5px; border-left-style: solid;
}
.format-quote blockquote p {
	margin: 0px;
}
.format-quote blockquote cite {
	color: rgb(160, 160, 160); font-style: normal; font-variant: small-caps; display: block;
}
.format-quote blockquote cite::before {
	padding-right: 5px; content: "-";
}
.format-video .media {
	margin: 0px -40px 20px; overflow: hidden;
}
.audio-wrapper {
	margin: 0px auto 20px;
}
.full-size img {
	display: block;
}
.full-size {
	margin: 0px -40px 20px;
}
.normal-size {
	text-align: center; margin-bottom: 20px;
}
.normal-size img {
	vertical-align: bottom; display: inline;
}
.gallery-items {
	margin: 0px -40px 20px;
}
.gallery-items li.item {
	background: none; padding: 0px; width: 20%; float: left;
}
.gallery-items li.item img {
	display: block; max-width: 100%;
}
.gallery-items::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.gallery-thumbnail {
	display: none;
}
.gallery-items li.item {
	display: block; position: relative;
}
.gallery-items li.item img {
	display: block; position: relative;
}
.gallery-items li.item a span {
	width: 100%; height: 100%; text-decoration: none; display: none; position: absolute; z-index: 100;
}
.zoom {
	background: url("style/images/icon-plus.png") no-repeat center; position: absolute;
}
.overlay {
	background-color: rgba(15, 15, 15, 0.6);
}
.format-chat li {
	background: none; padding: 4px 10px;
}
.singular .hentry {
	padding-bottom: 20px; margin-bottom: 40px;
}
.singular .hentry footer.entry-meta {
	display: block;
}
.page.singular .entry-title {
	margin: 0px 0px 30px;
}
.related {
	overflow: hidden;
}
.related-container {
	background: url("style/images/line.png") repeat-x left bottom; padding-bottom: 40px; margin-bottom: 40px; position: relative;
}
.related-container .entry-title {
	font-size: 18px; margin-bottom: 7px;
}
.related-container .entry-meta {
	margin-bottom: 15px;
}
.related-list {
	margin: 0px -6% 0px 0px; width: 106%; overflow: hidden; display: block;
}
.related-list li {
	background: none; margin: 0px 3% 0px 0px; padding: 0px; width: 29.5%; float: left;
}
.related-list li img {
	width: auto; height: auto; max-width: 100%;
}
.related-list li .full-size {
	margin: 0px 0px 20px;
}
.related-list li .normal-size {
	margin: 0px 0px 20px;
}
.related-list li .media {
	margin: 0px 0px 20px; overflow: hidden;
}
.related-list li .hentry {
	background: none; margin: 0px; padding: 0px;
}
.related-list li .entry-header {
	text-align: left;
}
.related-list li .entry-summary li {
	width: auto; float: none;
}
.related-container .format-gallery ul#gallery-items {
	display: none;
}
.related-container .format-gallery .gallery-thumbnail {
	margin-bottom: 14px; display: block;
}
#comments-title {
	
}
.nopassword {
	text-align: center;
}
.nocomments {
	text-align: center;
}
.commentlist {
	list-style: none; margin: 0px auto; width: 100%;
}
.commentlist > li.comment {
	margin: 0px 0px 20px; position: relative;
}
.commentlist li.comment .avatar {
	width: 80px; float: left;
}
.commentlist li.comment .comment-content {
	margin: 0px 0px 0px 100px; padding: 20px; background-color: rgb(244, 244, 244);
}
.commentlist li.comment .comment-content em {
	color: rgb(202, 109, 109); font-size: 12px; font-style: normal;
}
.commentlist li.comment .comment-content h3 {
	margin: 0px;
}
.commentlist li.comment .comment-meta {
	font-size: 12px; margin-bottom: 10px;
}
.commentlist .pingback {
	margin: 0px 0px 20px; padding: 20px;
}
.commentlist .children {
	list-style: none; margin: 0px;
}
.commentlist .children li.comment {
	background: rgb(255, 255, 255); margin: 20px 0px 0px 85px; position: relative;
}
.commentlist li.comment footer {
	line-height: 1; position: relative;
}
.commentlist li.comment footer a.comment-reply-link {
	font-size: 12px;
}
.commentlist li.comment footer .edit-link {
	text-align: right; overflow: hidden; display: block;
}
.commentlist li.comment footer .edit-link a {
	top: 4px; right: 0px; font-size: 12px; display: inline; position: absolute;
}
.commentlist li.comment .comment-content h3 a:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
.commentlist li.comment footer a.comment-reply-link:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
.commentlist li.comment footer .edit-link a:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
.commentlist li.bypostauthor.comment .comment-content {
	background-color: rgb(233, 233, 233);
}
input[type=text] {
	background: rgb(244, 244, 244); border: 1px solid rgb(222, 222, 222); border-image: none; color: rgb(96, 96, 96);
}
input[type=password] {
	background: rgb(244, 244, 244); border: 1px solid rgb(222, 222, 222); border-image: none; color: rgb(96, 96, 96);
}
textarea {
	background: rgb(244, 244, 244); border: 1px solid rgb(222, 222, 222); border-image: none; color: rgb(96, 96, 96);
}
textarea {
	width: 98%; padding-left: 3px;
}
input[type=text] {
	padding: 3px;
}
#respond {
	background: rgb(244, 244, 244); margin: 40px auto 0px; padding: 25px; position: relative;
}
#respond p {
	position: relative;
}
#respond input[type='text'] {
	background: rgb(255, 255, 255); padding: 10px; text-indent: 80px; position: relative;
}
#respond textarea {
	background: rgb(255, 255, 255); padding: 10px; text-indent: 80px; position: relative;
}
#respond textarea {
	text-indent: 0px; display: block;
}
#respond .comment-form-author {
	position: relative;
}
#respond .comment-form-email {
	position: relative;
}
#respond .comment-form-url {
	position: relative;
}
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label {
	padding: 4px 10px; left: 4px; top: 0px; color: rgb(202, 109, 109); font-size: 15px; display: inline-block; position: absolute; z-index: 1; min-width: 60px;
}
#respond .comment-form-email label {
	padding: 4px 10px; left: 4px; top: 0px; color: rgb(202, 109, 109); font-size: 15px; display: inline-block; position: absolute; z-index: 1; min-width: 60px;
}
#respond .comment-form-url label {
	padding: 4px 10px; left: 4px; top: 0px; color: rgb(202, 109, 109); font-size: 15px; display: inline-block; position: absolute; z-index: 1; min-width: 60px;
}
#respond .comment-form-comment label {
	display: none;
}
#respond .comment-form-author label::after {
	content: ":";
}
#respond .comment-form-email label::after {
	content: ":";
}
#respond .comment-form-url label::after {
	content: ":";
}
#respond input[type='text']:focus {
	border: 1px solid rgb(201, 201, 201); border-image: none; text-indent: 0px; z-index: 1;
}
#respond textarea:focus {
	border: 1px solid rgb(201, 201, 201); border-image: none; text-indent: 0px; z-index: 1;
}
#respond textarea {
	width: 95%; resize: vertical;
}
#respond .comment-form-author .required {
	left: 75%; top: 12px; color: rgb(202, 109, 109); font-size: 22px; position: absolute; z-index: 1;
}
#respond .comment-form-email .required {
	left: 75%; top: 12px; color: rgb(202, 109, 109); font-size: 22px; position: absolute; z-index: 1;
}
#respond .comment-notes {
	font-size: 12px;
}
#respond .logged-in-as {
	font-size: 12px;
}
#respond input#submit {
	margin: 20px 0px 0px;
}
#respond #cancel-comment-reply-link {
	color: rgb(202, 109, 109); text-decoration: none; margin-left: 10px;
}
.commentlist #respond {
	margin: 20px 0px 0px; width: auto;
}
#reply-title {
	margin: 0px; line-height: 30px; font-size: 24px;
}
#cancel-comment-reply-link {
	top: 10px; right: 20px; color: rgb(202, 109, 109); font-family: "MerriweatherRegular"; font-size: 12px; font-weight: normal; text-decoration: none; display: block; position: absolute;
}
#cancel-comment-reply-link:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
#respond #cancel-comment-reply-link:hover {
	color: rgb(88, 88, 88); text-decoration: none;
}
#respond label {
	line-height: 2.2em; cursor: text;
}
#respond input[type=text] {
	width: 75%; height: 20px; display: block;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0px;
}
.form-allowed-tags {
	display: none;
}
p.form-submit {
	margin: 0px;
}
.form-container {
	background: rgb(244, 244, 244); padding: 25px; overflow: hidden; position: relative;
}
.form-container .loading {
	left: 0px; top: 0px; width: 300px; height: 300px; position: absolute;
}
.form-container .loading span {
	
}
.form-container .response {
	margin: 0px 0px 15px; width: 650px; color: rgb(77, 140, 116); line-height: 17px; clear: both; font-size: 14px; display: none; text-shadow: none;
}
.forms {
	
}
.forms fieldset {
	margin-bottom: -20px;
}
.forms ol {
	list-style: none;
}
.forms li.form-row {
	margin-bottom: 15px;
}
.forms li.text-input-row {
	
}
.forms li.text-area-row {
	
}
.forms li.checkbox-row {
	
}
.forms li.radio-row {
	
}
.forms li.select-row {
	
}
.forms li.button-row {
	
}
.forms li.hidden-row {
	display: none;
}
.forms fieldset .text-input {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(222, 222, 222); border-image: none; width: 75%; height: 20px; color: rgb(96, 96, 96);
}
.forms fieldset .text-area {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(222, 222, 222); border-image: none; width: 90%; height: 200px; color: rgb(96, 96, 96);
}
.forms fieldset .text-input:focus {
	border: 1px solid rgb(201, 201, 201); border-image: none;
}
.forms fieldset .text-area:focus {
	border: 1px solid rgb(201, 201, 201); border-image: none;
}
.forms fieldset .radio {
	
}
.forms fieldset .checkbox {
	
}
.forms fieldset .select {
	
}
.forms li.error input {
	border: 1px solid rgb(184, 85, 85); border-image: none;
}
.forms li.error textarea {
	border: 1px solid rgb(184, 85, 85); border-image: none;
}
.forms fieldset .btn-submit {
	margin: 0px; padding: 0px 20px 4px; height: 30px;
}
.forms span.error {
	display: none;
}
.forms .button-row span.error {
	padding: 0px; display: none;
}
.forms li.focus {
	
}
.forms label {
	clear: both; font-size: 12px; margin-bottom: 5px; display: block;
}
.form-container::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
#nav-single-fixed .nav-prev {
	left: 0px; top: 40%; position: fixed;
}
#nav-fixed .nav-previous {
	left: 0px; top: 40%; position: fixed;
}
#nav-single-fixed .nav-next {
	top: 40%; right: 0px; position: fixed;
}
#nav-fixed .nav-next {
	top: 40%; right: 0px; position: fixed;
}
#nav-single-fixed .nav-prev .meta-nav-prev {
	background: url("style/images/nav-arrows-light.png") no-repeat left top; width: 50px; height: 50px; text-indent: -999999px; display: block; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;
}
#nav-fixed .nav-previous .meta-nav-prev {
	background: url("style/images/nav-arrows-light.png") no-repeat left top; width: 50px; height: 50px; text-indent: -999999px; display: block; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;
}
#nav-single-fixed .nav-prev .meta-nav-prev:hover {
	background-position: left bottom;
}
#nav-fixed .nav-previous .meta-nav-prev:hover {
	background-position: left bottom;
}
#nav-single-fixed .nav-next .meta-nav-next {
	background: url("style/images/nav-arrows-light.png") no-repeat right top; width: 50px; height: 50px; text-indent: -999999px; display: block; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;
}
#nav-fixed .nav-next .meta-nav-next {
	background: url("style/images/nav-arrows-light.png") no-repeat right top; width: 50px; height: 50px; text-indent: -999999px; display: block; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;
}
#nav-single-fixed .nav-next .meta-nav-next:hover {
	background-position: right bottom;
}
#nav-fixed .nav-next .meta-nav-next:hover {
	background-position: right bottom;
}
#nav-single {
	line-height: 25px; font-size: 12px; margin-bottom: 40px;
}
#nav-single .nav-prev .meta-nav-prev {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); margin: 0px 5px; padding: 0px 17px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); display: inline-block; -webkit-border-radius: 5px; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -moz-border-radius: 5px;
}
#nav-single .nav-next .meta-nav-next {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); margin: 0px 5px; padding: 0px 17px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); display: inline-block; -webkit-border-radius: 5px; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -moz-border-radius: 5px;
}
#nav-single .nav-prev .meta-nav-prev:hover {
	border: 1px solid rgb(36, 36, 36); border-image: none; text-decoration: none; background-color: rgb(51, 51, 51);
}
#nav-single .nav-next .meta-nav-next:hover {
	border: 1px solid rgb(36, 36, 36); border-image: none; text-decoration: none; background-color: rgb(51, 51, 51);
}
#nav-single {
	text-align: center;
}
.page-navi {
	list-style: none; text-align: center;
}
.page-navi li {
	background: none; padding: 0px; display: inline;
}
.page-navi li a {
	background: url("style/images/button-bg.png") repeat-x rgb(85, 85, 85); margin: 0px 1px; padding: 0px 10px; border-radius: 5px; border: 1px solid rgb(56, 56, 56); border-image: none; height: 28px; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.page-navi li a:hover {
	border: 1px solid rgb(36, 36, 36); border-image: none; text-decoration: none; background-color: rgb(51, 51, 51);
}
.page-navi li a.current {
	border: 1px solid rgb(36, 36, 36); border-image: none; text-decoration: none; background-color: rgb(51, 51, 51);
}
.widget-title a {
	color: rgb(104, 104, 104);
}
.widget-title a:hover {
	text-decoration: none;
}
#crumbs {
	background: url("style/images/line.png") repeat-x bottom; text-align: center; line-height: 20px; padding-bottom: 40px; font-size: 12px; margin-bottom: 37px;
}
#crumbs .delimiter {
	padding: 0px 3px;
}
#colophon {
	margin: 40px -1px -1px; clear: both; background-color: rgb(25, 25, 25);
}
#supplementary {
	padding: 40px 39px 0px; overflow: hidden;
}
.two#supplementary .widget-area {
	width: 48.1%; margin-right: 3.7%; float: left;
}
.two#supplementary .widget-area + .widget-area {
	margin-right: 0px;
}
.three#supplementary .widget-area {
	width: 30.85%; margin-right: 3.7%; float: left;
}
.three#supplementary .widget-area + .widget-area + .widget-area {
	margin-right: 0px;
}
.four#supplementary .widget-area {
	width: 22.2%; margin-right: 3.7%; float: left;
}
.four#supplementary .widget-area + .widget-area + .widget-area + .widget-area {
	margin-right: 0px;
}
#site-generator {
	padding: 1.2em 0.5em; text-align: center; color: rgb(153, 153, 153); line-height: 2.2em; font-size: 12px; background-color: rgb(19, 19, 19);
}
#site-generator a {
	color: rgb(153, 153, 153);
}
#site-generator a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.widget {
	margin: 0px 0px 2.2em; color: rgb(153, 153, 153); clear: both;
}
.widget-title {
	font-weight: normal; margin-bottom: 15px;
}
.widget ul {
	margin: 0px;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
	background-image: url("style/images/light-bullet.png");
}
.widget a {
	color: rgb(153, 153, 153); text-decoration: none;
}
.widget a:hover {
	color: rgb(255, 255, 255);
}
#supplementary .widget-area {
	position: relative;
}
#supplementary .widget-area form#searchform {
	width: auto;
}
#supplementary .widget-area input#s {
	padding: 3px 10px 5px; border: currentColor; border-image: none; width: 95%; height: 28px; font-size: 14px; display: block; background-color: rgb(17, 17, 17);
}
#supplementary input#searchsubmit {
	display: none;
}
.widget_image img {
	height: auto; max-width: 100%;
}
#twitter ul li {
	background: url("style/images/footer-line.png") repeat-x left top; list-style: none; margin: 10px 0px 0px; padding: 10px 0px 0px;
}
#twitter ul li:first-child {
	background: none; margin: 0px; padding: 0px;
}
#twitter ul li .entry-meta::before {
	padding-right: 5px; content: "-";
}
#twitter ul li .entry-meta {
	margin: 0px; color: rgb(153, 153, 153); font-size: 15px;
}
#twitter ul li .entry-meta a {
	color: rgb(153, 153, 153);
}
#twitter ul li .entry-meta a:hover {
	color: rgb(255, 255, 255);
}
#twitter em {
	font-style: normal;
}
.username {
	background: url("style/images/footer-line.png") repeat-x left top; margin: 10px 0px 0px; padding: 10px 0px 0px; display: block;
}
.toggle {
	width: 100%; padding-bottom: 20px; clear: both;
}
.toggle h4.title {
	margin: 0px; padding: 15px 20px 12px; color: rgb(107, 107, 107); line-height: 1; font-size: 18px; cursor: pointer; background-color: rgb(244, 244, 244);
}
.toggle h4.active.title {
	background-color: rgb(233, 233, 233);
}
.togglebox {
	margin: 0px; padding: 0px; height: auto; overflow: hidden; background-color: rgb(244, 244, 244);
}
.togglebox div {
	padding: 20px 20px 0px;
}
ul.tabs {
	margin: 0px; padding: 0px; line-height: 1;
}
ul.tabs li {
	background: none; padding: 0px; margin-right: 10px; float: left;
}
ul.tabs li a {
	background: rgb(255, 255, 255); padding: 13px 15px 10px; color: rgb(107, 107, 107); overflow: hidden; font-family: "MarketDecoRegular"; font-size: 18px; display: block;
}
ul.tabs li a:hover {
	text-decoration: none;
}
ul.tabs li.active a {
	background: rgb(244, 244, 244);
}
ul.tabs::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.tab_container {
	background: rgb(244, 244, 244); width: 100%; clear: both; margin-top: -1px; margin-bottom: 20px; float: left; position: relative; z-index: 1;
}
.tab_content {
	padding: 20px 20px 0px; overflow: hidden;
}
@media not all
{
input#submit {
	height: 28px;
}
.forms fieldset .btn-submit {
	height: 28px;
}
a.button {
	height: 27px;
}
.page-navi li a {
	height: 27px;
}
#nav-single .nav-prev .meta-nav-prev {
	height: 27px;
}
#nav-single .nav-next .meta-nav-next {
	height: 27px;
}
}
@media not all, not all
{
input#submit {
	height: 28px; padding-top: 3px;
}
.forms fieldset .btn-submit {
	height: 28px; padding-top: 3px;
}
a.button {
	height: 27px;
}
.page-navi li a {
	height: 27px;
}
#nav-single .nav-prev .meta-nav-prev {
	height: 27px;
}
#nav-single .nav-next .meta-nav-next {
	height: 27px;
}
}
