<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackGround</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/BgManager-content.css">
    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="htmleaf-container">
        <header class="htmleaf-header">
            <h1>后台管理</h1>
        </header>
        <!-- container begin -->
        <div class="contianer">
            <!-- backendpanel begin -->
            <div class="backendpanel">
                <div class="avatar">
                    <div>
                        <a><img src="img/avata.jpg" alt="" height="200" width="200" /></a>
                    </div>
                </div>

                <!-- tab menu -->
                <input type="radio" class="tab-1 focused" name="tab" checked="checked">
                <span>推荐</span><i class="fa fa-star"></i>

                <input type="radio" class="tab-2" name="tab">
                <span>百家</span><i class="fa fa-user-plus"></i>

                <input type="radio" class="tab-3" name="tab">
                <span>本地</span><i class="fa fa-institution"></i>

                <input type="radio" class="tab-4" name="tab">
                <span>互联网</span><i class="fa fa-connectdevelop"></i>

                <input type="radio" class="tab-5" name="tab">
                <span>科技</span><i class="fa fa-cloud-upload"></i>

                <input type="radio" class="tab-6" name="tab">
                <span>女人</span><i class="fa fa-venus"></i>

                <input type="radio" class="tab-7" name="tab">
                <span>图片</span><i class="fa fa-photo"></i>

                <input type="radio" class="tab-8" name="tab">
                <span>军事</span><i class="fa fa-space-shuttle"></i>

                <input type="radio" class="tab-9" name="tab">
                <span>社会</span><i class="fa fa-link"></i>

                <input type="radio" class="tab-10" name="tab">
                <span>娱乐</span><i class="fa fa-desktop"></i>

                <!-- top-bar begin-->
                <div class="top-bar">
                    <ul>
                        <li class="quit">
                            <a title="退出">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>

                        <li class="edititems">
                            <a title="修改">
                                <i class="fa fa-edit"></i>
                            </a>
                        </li>

                        <li class="deleteitems">
                            <a title="删除">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>

                        <li class="additems">
                            <a title="增加">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- top-bar end -->
                <!-- tab-content begin -->
                <div class="tab-content">
                    <!-- section1 begin -->
                    <section class="tab-item-1">
                        <h1 style="display:inline-block; margin-right:20px;">推荐</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box">
                            <!-- <div class="content-innerbox">
                                <table class="table-position" border="1">
                                    <tbody>
                                        <tr>
                                            <td rowspan="4" scope="row" class="content-item-id"><span class="itemid item_focus">id</span></td>
                                            <th class="context-item-title"><span class="fa fa-server"></span> 新闻标题</th>
                                            <td class="context-item-contant1" colspan="3">这里是新闻标题</td>
                                        </tr>
                                        <tr>
                                            <th class="context-item-title"><span class="fa fa-image"></span>图片地址</th>
                                            <td class="context-item-contant1" colspan="3">这里是图片地址</td>
                                        </tr>
                                        <tr>
                                            <th class="context-item-title"><span class="fa fa-bars"></span>内容</th>
                                            <td class="context-item-contant1" colspan="3">这里是新闻内容</td>
                                        </tr>
                                        <tr>
                                            <th class="context-item-title"><span class="fa fa-calendar"></span>新闻日期</th>
                                            <td class="newsTime">新闻时间</td>
                                            <th class="context-item-title"><span class="fa fa-cart-arrow-down"></span> 来源</th>
                                            <td class="newsFrom">这里是新闻来源</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                        </div>
                    </section>
                    <!-- section1 end -->
                    <!-- section2 begin -->
                    <section class="tab-item-2">
                        <h1 style="display:inline-block; margin-right:20px;">百家</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section2 end -->
                    <!-- section3 begin -->
                    <section class="tab-item-3">
                        <h1 style="display:inline-block; margin-right:20px;">本地</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section3 begin -->
                    <!-- section4 begin -->
                    <section class="tab-item-4">
                        <h1 style="display:inline-block; margin-right:20px;">互联网</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section4 begin -->

                    <!-- section5 begin -->
                    <section class="tab-item-5">
                        <h1 style="display:inline-block; margin-right:20px;">科技</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section5 begin -->

                    <!-- section6 begin -->
                    <section class="tab-item-6">
                        <h1 style="display:inline-block; margin-right:20px;">女人</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section6 begin -->

                    <!-- section7 begin -->
                    <section class="tab-item-7">
                        <h1 style="display:inline-block; margin-right:20px;">图片</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section7 begin -->


                    <!-- section8 begin -->
                    <section class="tab-item-8">
                        <h1 style="display:inline-block; margin-right:20px;">军事</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section8 begin -->

                    <!-- section9 begin -->
                    <section class="tab-item-9">
                        <h1 style="display:inline-block; margin-right:20px;">社会</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section9 begin -->


                    <!-- section10 begin -->
                    <section class="tab-item-10">
                        <h1 style="display:inline-block; margin-right:20px;">娱乐</h1><span>已选中：</span><span class="selectedItemNum">0</span><span>个。</span>
                        <div class="content-box"></div>
                    </section>
                    <!-- section10 begin -->

                </div>
                <!-- tab-content end -->
            </div>
            <!-- backendpanel end -->
        </div>
        <!-- container end -->

        <!-- mask -->
        <div class="mask">

        </div>
        <!-- mask end -->


    </div>
    <script data-main="js/bg_main" type="text/javascript" src="js/lib/require.js"></script>
</body>

</html>
