<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        百度新闻手机版
    </title>
    <link rel='stylesheet' href='/Login/css/normalize.css'/>

</head>

<body>
    新闻页面
</body>

</html>
